# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log
db.sqlite3
*.log
*.pot
local_settings.py

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp


# Media files
media/

# Secrets
.env
*.key

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Node.js dependencies
node_modules/

# Ignore specific migration files (if needed)
*/migrations/*.py[cod]
!*/migrations/__init__.py
