{% extends "layouts/base.html" %}

{% block title %}Update Password{% endblock %}

{% block content %}
<div style="display: flex; justify-content: space-between; padding: 20px;">
    <a href="javascript:history.back()" class="btn btn-primary btn-sm" style="text-decoration: none; font-size: 16px;">Back</a>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Update Password</h4>
            </div>
            <div class="card-body">
                <form action="/user/update/password/{{ user.id }}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.username }}
                        {% if form.errors.username %}
                        <div class="alert alert-danger">
                            <strong>{{ form.errors.username.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.new_password1 }}
                        {% if form.errors.new_password1 %}
                        <div class="alert alert-danger">
                            <strong>{{ form.errors.new_password1.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">
                            Update Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

