{% extends "layouts/base.html" %}

{% block title %}Update Actions{% endblock %}

{% block content %}
<div style="display: flex; justify-content: space-between; padding: 20px;">
    <a href="javascript:history.back()" class="btn btn-primary btn-sm" style="text-decoration: none; font-size: 16px;">Back</a>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Update Actions</h4>
            </div>
            <div class="card-body">
                 <form action="/user/update/{{user.id}}" method="POST">
                    {% csrf_token %}
                    <!--Employee Name-->
                    <div class="mb-3">
                        {{ form.user}}
                        {% if form.errors.user %}
                        <div class="alert alert-danger">
                            <strong> {{form.errors.user.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.role}}
                        {% if form.errors.role %}
                        <div class="alert alert-danger">
                            <strong> {{form.errors.role.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                      
                    <div class="mb-3">
                        {{ form.name}}
                        {% if form.errors.name %}
                        <div class="alert alert-danger">
                            <strong> {{form.errors.name.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.employee_id}}
                        {% if form.errors.employee_id %}
                        <div class="alert alert-danger">
                            <strong> {{form.errors.employee_id.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.department}}
                        {% if form.errors.department %}
                        <div class="alert alert-danger">
                            <strong> {{form.errors.department.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.data_of_joining}}
                        {% if form.errors.data_of_joining %}
                        <div class="alert alert-danger">
                            <strong> {{form.errors.data_of_joining.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.job_title}}
                        {% if form.errors.job_title %}
                        <div class="alert alert-danger">
                            <strong> {{form.errors.job_title.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label>Status</label>
                        {{ form.status}}
                        {% if form.errors.status %}
                        <div class="alert alert-danger">
                            <strong> {{form.errors.status.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">
                            Update User
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

