{% extends "layouts/base.html" %}
{% load filters %}

{% block title %}View Inspection{% endblock %}

{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} message" id="message-{{ forloop.counter }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div style="display: flex; justify-content: space-between; padding: 20px;">
    <a href="javascript:history.back()" class="btn btn-primary btn-sm" style="text-decoration: none; font-size: 16px;">Back</a>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Personal Hygiene Inspection Details</h4>
            </div>
            <div class="card-body">
                <div class="container mt-4">                    
                    <!-- Personal Hygiene Record -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">
                            <p><strong>Employee:</strong>{{ personal_hygiene.employee.name }}</p>
                            <p><strong>Inspection Date:</strong> {{ personal_hygiene.inspected_date }}</p>
                            <p><strong>Inspected By:</strong> {{ personal_hygiene.inspected_by.name }}</p>

                            <!-- Parameters Checked with New Line After Yes/No -->
                            <p><strong>Parameters Checked:</strong> 
                                {% if personal_hygiene.parameters_checked %}
                                    {{ personal_hygiene.parameters_checked|replace_yes_no|safe  }}
                                {% else %}
                                    No parameters available.
                                {% endif %}
                            </p>
                            <p><strong>Status:</strong> {% if personal_hygiene.status %} <span class="badge bg-success">Checked</span> {% else %} <span class="badge bg-danger">Not checked</span> {% endif %}</p>
                        </div>
                    </div>

                    <!-- Signatures -->
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h5>Inspector's Signature</h5>
                            <div class="border p-3">
                                {% if personal_hygiene.inspector_signature %}
                                    <img src="{{ personal_hygiene.inspector_signature }}" alt="Inspector's Signature" class="img-fluid">
                                {% else %}
                                    <p>No signature available.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5>Employee's Signature</h5>
                            <div class="border p-3">
                                {% if personal_hygiene.employee_signature %}
                                    <img src="{{ personal_hygiene.employee_signature }}" alt="Employee's Signature" class="img-fluid">
                                {% else %}
                                    <p>No signature available.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- Photos -->
                    <h4>Photos</h4>
                    <div class="row">
                        {% for photo in personal_hygiene.photos.all %}
                        <div class="col-md-3 mb-3">
                            <div class="card">
                                <img src="{{ photo.photo.url }}" class="card-img-top img-thumbnail" alt="Photo">
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
