{% extends "layouts/base.html" %}

{% block title %}Update Control Point{% endblock %}

{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} message" id="message-{{ forloop.counter }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div style="display: flex; justify-content: space-between; padding: 20px;">
    <a href="javascript:history.back()" class="btn btn-primary btn-sm" style="text-decoration: none; font-size: 16px;">Back</a>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Update Control Point for {{correctiveAction.control_point.name}}</h4>
            </div>
            <div class="card-body">
                <form action="/location/corrective_actions/update/{{correctiveAction.id}}" method="POST">
                    {% csrf_token %}
                    <!--Employee Name-->
                          <!-- Control Point Form -->
                          <div class="form-group">
                            <label for="id_location">Control Point Name</label>
                            {{ form.control_point }}
                            {% if form.errors.control_point %}
                                <div class="alert alert-danger mt-2">
                                    {{ form.errors.control_point.as_text|cut:"* " }}
                                </div>
                            {% endif %}
                        </div>
    
                        <div class="form-group">
                            <label for="id_name">Action Name</label>
                            {{ form.name }}
                            {% if form.errors.name %}
                                <div class="alert alert-danger mt-2">
                                    {{ form.errors.name.as_text|cut:"* " }}
                                </div>
                            {% endif %}
                        </div>
    
                        <div class="form-group">
                            <label for="id_status">Control Point Status</label>
                            {{ form.status }}
                            {% if form.errors.status %}
                                <div class="alert alert-danger mt-2">
                                    {{ form.errors.status.as_text|cut:"* " }}
                                </div>
                            {% endif %}
                        </div>
                    <div class="text-center">
                        <button class="btn btn-success">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

