{% extends "layouts/base.html" %}

{% block title %}Update Location{% endblock %}

{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} message" id="message-{{ forloop.counter }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div style="display: flex; justify-content: space-between; padding: 20px;">
    <a href="javascript:history.back()" class="btn btn-primary btn-sm">Back</a>
    <a href="/location/{{ location.name }}/control_point/add" class="btn btn-primary btn-sm">
        Add {{ location.name }} Control Point
    </a>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Update Location</h4>
            </div>
            <div class="card-body">
                <form action="/location/update/{{location.id}}" method="POST">
                    {% csrf_token %}
                    <!--Employee Name-->
                    <div class="mb-3">
                        <label>Location name</label>
                        {{ form.name}}
                        {% if form.errors.name %}
                        <div class="alert alert-danger">
                            <strong> {{form.errors.name.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label>Location Status</label>
                        {{ form.status}}
                        {% if form.errors.status %}
                        <div class="alert alert-danger">
                            <strong> {{form.errors.status.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success btn-sm">
                            Update
                        </button>
                    </div>
                    <div class="text-center mt-3">
                        <a href="/location/control-point/list/{{ location.id }}" class="btn btn-warning btn-sm">
                            Update Control Point
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

