{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h4 class="card-title">
                        NO DATA FOUND 
                        
                        PAGE IS UNDER DEVELOPMENT 
                    </h4>
                    <a href="javascript:history.back()" class="btn btn-primary btn-roun" style="text-decoration: none; font-size: 16px;">Back</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
